[SURFACE]
stop_commands = (exit, stop, close)
hint_lighting = (e2859a, bd7873)

[ENGINE]
path = ./engine/stockfish-windows-x86-64-avx2.exe
move_max_time = 375
threads = 6
hash = 1024
elo = 3190
depth = 15
contempt = 0

[BROWSER]
start_url = https://www.chess.com/play/online

[SERVER]
port = 8123
