[SURFACE]
STOP_COMMAND = stop

[ENGINE]
PATH = ./engine/stockfish_15.1_win_x64.exe
MOVE_MAX_TIME = 400
THREADS = 3
HASH = 256
ELO = 2850
DEPTH = 20
CONTEMPT = 10

[SERVER]
PORT = 8123

[BROWSER]
START_URL = https://www.chess.com/play/online
HINT_LIGHTING = [bd7873, e2859a]
